ADMIN_NAME=Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeThisPasswordImmediately
JWT_SECRET=replace-this-with-a-long-random-secret
JWT_EXPIRES_IN=7d
MONGODB_URI=mongodb://127.0.0.1:27017/olive-grove-emporium
VITE_API_URL=http://localhost:5000/api/v1

SUPABASE_PROJECT_ID="epdvcmufbtagwgoyimtd"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_AbBIQXbnCvsoT4TlESn3xQ_7S5FBLSD"
SUPABASE_URL="https://epdvcmufbtagwgoyimtd.supabase.co"
VITE_SUPABASE_PROJECT_ID="epdvcmufbtagwgoyimtd"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_AbBIQXbnCvsoT4TlESn3xQ_7S5FBLSD"
VITE_SUPABASE_URL="https://epdvcmufbtagwgoyimtd.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://epdvcmufbtagwgoyimtd.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_AbBIQXbnCvsoT4TlESn3xQ_7S5FBLSD"

CLOUDINARY_URL="cloudinary://315851656198587:U7x9u-GvWiWSQFkEV7EAipPcJ8Q@fbkeq7lv"
CLOUDINARY_CLOUD_NAME="fbkeq7lv"
CLOUDINARY_API_KEY="315851656198587"
CLOUDINARY_API_SECRET="U7x9u-GvWiWSQFkEV7EAipPcJ8Q"
VITE_CLOUDINARY_CLOUD_NAME="fbkeq7lv"
VITE_CLOUDINARY_API_KEY="315851656198587"
